@tailwind base;
@tailwind components;
@tailwind utilities;

.header-content-wrapper {
  width: calc(100vw + 100px);
  transform: translateX(-50px);
  background-image: url(https://storage.googleapis.com/website-development/uploads/2022/10/Frame-81.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

@media (max-width: 1280px) {
  .header-content-wrapper {
    background-image: none;
  }
}

.lazyloaded {
  opacity: 1;
  transition: all .5s ease-in-out;
  transition-property: opacity;
}

li {
  position: relative;
}

li::after {
  content: "\2022";
  position: absolute;
  top: -1;
  left: 0;
  color: #45536b;
  font-size: 18px;
  font-weight: 700;
}